body {
    background-color: white;
}
h1 {
    background-color: #E2E2E2;
    text-align: center; 
    border: 0px;
    border-radius: 15px;
}
aside {
    font: fantasy;
    float:left;
    font-size: 20px;
    padding: 15px;
    margin: 20px;
}
.OrderedList {
 float: center;
 text-align: center;   
}
.Bikal {
 float: right;
 font-family: kalpurush;
 text-align: center;
 background-color: bisque;
 border: 0px;
 border-radius: 25px;   
}
#districtMap {
 float: center;
 text-align: center;   
}
button {
 color: white;
 background-color: cornflowerblue;
}
button:hover {
 background-color: teal;
 color: aliceblue;
}
#img {
    background-image: url('Slide1.JPG');
    color: purple;
    font-family: Century Gothic;
    font-size: 50px;
    margin-top: 50px;
    margin-left: 50px;
    padding: 90px 120px 150px 1000px;
    background-repeat: no-repeat;
    background-size: contain;
}